@import "variable";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  background: $Softviolet;
  background: linear-gradient(to bottom, $Softviolet, $Softblue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.container {
  width: 1000px;
  height: 80vh;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  .image {
    flex-basis: 50%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .women {
      position: absolute;
      left: -30%;
    }

    .box {
      position: absolute;
      left: -45%;
      top: 40%;
      width: 40%;
      height: 40%;
    }
  }

  .accordian {
    flex-basis: 35%;
    font-family: "Kumbh Sans", sans-serif;
    align-self: baseline;
    margin-top: 2rem;
    margin-left: 2rem;
    height: 100%;
    height: 70vh;
    position: relative;
    h2 {
      position: absolute;
      font-size: 1.5rem;
      color: $Verydarkgrayishblue;
    }
    .members {
        margin-top: 3rem;
    }
    .member {
     margin-bottom: 1rem;
      padding-bottom: 5px;
      border-bottom: 2px solid $Lightgrayishblue;
      a {
        cursor: pointer;
        text-decoration: none;
        color: black;
        span {
          margin-left: 40px;
        }
        text-decoration: none;
        h3 {
          display: inline;
          color: $Verydarkgrayishblue;
            font-size: 14px;
        }
      }

      .text {
        margin-top: 0.4rem;
        transition: all 0.5s ease;
        display: none;
        color: $Darkgrayishblue;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
